<div id="bootstrap-theme" class="civicase__container">
  <h1 ng-if="view !== 'contact'" crm-page-title>{{ ts('Manage Quotations') }}</h1>

    <a
      ng-click="redirectToQuotationCreationScreen()"
      class="btn btn-primary civicase-workflow-list__new-button">
      <i class="material-icons">add_circle</i>
    {{:: ts('Create Quotation') }}
    </a>

  <div class="panel panel-default">
    <div class="panel-body">
      <div ng-switch="view">
        <afsearch-contact-quotations ng-switch-when="contact"> </afsearch-contact-quotations>
        <afsearch-quotations ng-switch-default> </afsearch-quotations>
      </div>
      
    </div>
  </div>
</div>
<style>
  #description-3 {
    height: 30px;
    padding: 4px 10px;
    width: 100% !important;
  }
  .btn-text {
    margin-right: 8px;
  }
  #bootstrap-theme crm-search-display-table p.alert-info {
    background-color: transparent;
    border: none;
  }
  .af-field-range-sep {
    margin: 0em 1em;
  }
</style>
