<div class="civicase__bulkactions-message" ng-show="(selectedItems > 0 || isSelectAll) && showCheckboxes">
  <div class="alert">
    {{ts('You have selected %1 items', {1: (isSelectAll ? totalCount : selectedItems)})}}
    <a
      ng-show="totalCount !== selectedItems && isSelectAll === false"
      href=""
      ng-click="select('all')">
      {{ts('Select all %1 that match the search', {1: totalCount})}}
      </a>
    <a
      ng-show="totalCount === selectedItems || isSelectAll"
      href=""
      ng-click="select('none')">
      {{ts('Clear All')}}
    </a>
  </div>
</div>
