<div id="bootstrap-theme">
  <div class="civicrm__contact-prompt-dialog form-horizontal">
    <div class="row form-group" ng-if="model.showStartDate">
      <label class="col-sm-12">
        Relationship Start Date
      </label>
      <div class="col-sm-12">
        <input
          ng-model="model.startDate"
          placeholder="Start Date"
          crm-ui-datepicker="{
            time: false,
            beforeShow: model.removeDatePickerHrefs,
            onChangeMonthYear: model.removeDatePickerHrefs
          }" />
      </div>
    </div>
    <div class="row form-group" ng-if="model.endDate.show">
      <label class="col-sm-12">
        Relationship End Date
      </label>
      <div class="col-md-12">
        <input
          ng-model="model.endDate.value"
          placeholder="End Date"
          crm-ui-datepicker="{
            time: false,
            minDate: model.endDate.minDate,
            beforeShow: model.removeDatePickerHrefs,
            onChangeMonthYear: model.removeDatePickerHrefs
          }" />
      </div>
    </div>
    <div
      ng-if="!model.hideContactField"
      class="row form-group"
      ng-class="{
        'crm-error': !!model.contactSelectionErrorMessage,
        'select2-container': !!model.contactSelectionErrorMessage
      }"
    >
      <div class="col-md-12">
        <input
          class="form-control"
          ng-model="model.contact.id"
          ng-change="model.contactSelectionErrorMessage = null"
          crm-entityref="{
            create: true,
            entity: 'Contact',
            select: { width: '100%', placeholder: ts('Select Contact') },
            api: {
              extra: ['display_name'],
              params: {
                contact_type: model.role.contact_type,
                contact_sub_type: model.role.contact_sub_type
              }
            }
          }"
        />
      </div>
      <div
        class="contact-selection-error crm-error crm-error-label"
        ng-if="!!model.contactSelectionErrorMessage"
      >
        <i class="fa fa-times"></i>
        {{model.contactSelectionErrorMessage}}
      </div>
    </div>
    <div class="row form-group" ng-if="model.showDescriptionField">
      <div class="col-md-12">
        <textarea
          rows="3"
          cols="35"
          ng-model="model.description"
          ng-attr-placeholder="{{ts('Description')}}"
        ></textarea>
      </div>
    </div>
  </div>
</div>
