  <div class="civicase__summary-tab">
    <!-- Subject and QuickLinks -->
    <div class="panel panel-default civicase__summary-tab__basic-details">
      <div class="panel-body">
        <div class="civicase__summary-tab__subject-container">
          <div class="civicase__loading-placeholder__oneline" style="width: 12em;"></div>
          <div class="civicase__loading-placeholder__oneline" style="width: 18em; margin-top: 8px;"></div>
          <div class="civicase__loading-placeholder__oneline" style="width: 8em; margin-top: 8px;"></div>
        </div>
        <div class="civicase__summary-activity-count">
          <div class="civicase__loading-placeholder__oneline civicase__summary-activity-count__number" style="display: inline-block; width: 1em;"></div>
        </div>
        <div class="civicase__summary-activity-count">
          <div class="civicase__loading-placeholder__oneline civicase__summary-activity-count__number" style="display: inline-block; width: 1em;"></div>
        </div>
        <div class="civicase__summary-activity-count">
          <div class="civicase__loading-placeholder__oneline civicase__summary-activity-count__number" style="display: inline-block; width: 1em;"></div>
        </div>
      </div>
    </div>
    <!-- End - Subject and QuickLinks -->

    <div class="civicase__summary-tab-tile-container">
      <!-- Next Milestone -->
      <div class="civicase__summary-tab-tile panel civicase__panel-transparent-header civicase__summary-tab-tile--responsive">
        <!-- next milestone card -->
        <div class="civicase__loading-placeholder__oneline" style="width: 12em; margin-bottom: 10px;"></div>
        <div class="panel-body">
          <div class="civicase__activity-card civicase__activity-card--big">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="civicase__activity-card-row civicase__activity-card-row--first clearfix">
                  <span class="civicase__activity-icon-container civicase__activity-icon-container--ribbon pull-left">
                    <!-- Activity Ribbon -->
                    <span class="civicase__loading-placeholder__oneline" style="width: 0.85em;font-size: 60px;position: absolute;top: 0;left: 10px;"></span>
                  </span>
                  <div class="civicase__activity__right-container pull-right" style="height: 30px;">
                    <span class="civicase__loading-placeholder__oneline" style="width: 6em; font-size: 20px;"></span>
                  </div>
                </div>
                <div class="civicase__activity-card-inner">
                  <div>
                    <div class="civicase__loading-placeholder__oneline" style="width: 60%; font-size: 20px;"></div>
                  </div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 50%; margin-top: 8px;"></div>
                  <div class="civicase__activity-big-subject" style="margin-top: 20px;">
                    <div class="civicase__loading-placeholder__oneline" style="width: 90%; margin-top: 8px;"></div>
                    <div class="civicase__loading-placeholder__oneline" style="width: 90%; margin-top: 8px;"></div>
                  </div>
                  <div class="civicase__loading-placeholder__oneline civicase__tags-container" style="width: 70%; margin-top: 25px;"></div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 50%; margin-top: 10px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Next Milestone -->
      <!-- Next Activity -->
      <div class="civicase__summary-tab-tile panel civicase__panel-transparent-header civicase__summary-tab-tile--responsive">
        <!-- next milestone card -->
        <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 10px;"></div>
        <div class="panel-body">
          <div class="civicase__activity-card civicase__activity-card--big civicase__activity-card">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="civicase__activity-card-row civicase__activity-card-row--first clearfix">
                  <span class="civicase__activity-icon-container civicase__activity-icon-container--ribbon pull-left">
                    <!-- Activity Ribbon -->
                    <span class="civicase__loading-placeholder__oneline" style="width: 1em; font-size: 30px;"></span>
                  </span>
                  <div class="civicase__activity__right-container pull-right" style="height: 30px;">
                    <span class="civicase__loading-placeholder__oneline" style="width: 6em; font-size: 20px;"></span>
                  </div>
                </div>
                <div class="civicase__activity-card-inner">
                  <div>
                    <div class="civicase__loading-placeholder__oneline" style="width: 60%; font-size: 20px;"></div>
                  </div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 50%; margin-top: 8px;"></div>
                  <div class="civicase__activity-big-subject" style="margin-top: 20px;">
                    <div class="civicase__loading-placeholder__oneline" style="width: 90%; margin-top: 8px;"></div>
                    <div class="civicase__loading-placeholder__oneline" style="width: 90%; margin-top: 8px;"></div>
                  </div>
                  <div class="civicase__loading-placeholder__oneline civicase__tags-container" style="width: 70%; margin-top: 25px;"></div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 50%; margin-top: 10px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Next Activity -->
      <!-- Calendar -->
      <civicase-activities-calendar-placeholder></civicase-activities-calendar-placeholder>
      <!-- End - Calendar-->
    </div>
    <div>
      <div class="clearfix civicase__summary-tab-tile-container">
        <!-- Recent Communications -->
        <div class="civicase__summary-tab-tile civicase__summary-tab__activity-list col-lg-6 col-md-12 panel civicase__panel-transparent-header">
          <div class="panel-heading clearfix">
            <div class="civicase__loading-placeholder__oneline pull-left" style="width: 14em; margin-bottom: 10px;"></div>
            <div class="civicase__loading-placeholder__oneline pull-right" style="width: 4em; margin-bottom: 10px;"></div>
          </div>
          <div class="panel-body">
            <div class="civicase__activity-card civicase__activity-card--long" ng-repeat="i in [0,1,2,3,4]">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="civicase__activity-card-row" style="margin-bottom: 8px;">
                    <div class="civicase__loading-placeholder__oneline" style="width: 0.8em; font-size: 24px; margin-right: 10px;"></div>
                    <div class="civicase__loading-placeholder__oneline" style="width: 8em; font-size: 18px;"></div>
                    <div class="civicase__activity__right-container civicase__loading-placeholder__oneline" style="width: 7em;"></div>
                  </div>
                  <div class="civicase__activity-card-row--file civicase__loading-placeholder__oneline" style="width: 8em; margin-bottom: 10px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Recent Communications -->
        <!-- Tasks -->
        <div class="civicase__summary-tab-tile civicase__summary-tab__activity-list col-lg-6 col-md-12 panel civicase__panel-transparent-header">
          <div class="panel-heading clearfix">
            <div class="civicase__loading-placeholder__oneline pull-left" style="width: 8em; margin-bottom: 10px;"></div>
            <div class="civicase__loading-placeholder__oneline pull-right" style="width: 4em; margin-bottom: 10px;"></div>
          </div>
          <div class="panel-body">
            <div class="civicase__activity-card civicase__activity-card--long" ng-repeat="i in [0,1,2,3,4]">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="civicase__activity-card-row" style="margin-bottom: 8px;">
                    <div class="civicase__loading-placeholder__oneline" style="width: 0.8em; font-size: 24px; margin-right: 10px;"></div>
                    <div class="civicase__loading-placeholder__oneline" style="width: 8em; font-size: 18px;"></div>
                    <div class="civicase__activity__right-container civicase__loading-placeholder__oneline" style="width: 7em;"></div>
                  </div>
                  <div class="civicase__activity-card-row--file civicase__loading-placeholder__oneline" style="width: 8em; margin-bottom: 10px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Tasks -->
      </div>
    </div>
  </div>
