.civicase__form {
  ::placeholder,
  .select2-default {
    color: $input-color-placeholder !important; // overrides select2's important
  }

  .select2-choice,
  .select2-choice:hover {
    text-decoration: none;
  }

  .select2-choice:focus {
    outline: none;
  }

  .crm-error .select2-choice {
    background-color: $crm-white;
  }

  textarea {
    width: 100%;
  }
}
